@import "./base.css";

#app {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* 响应式断点设计 */

/* 移动设备 (< 768px) */
@media (max-width: 767px) {
  #app {
    padding: 0.5rem;
  }
}

/* 平板设备 (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  #app {
    padding: 1rem;
    max-width: 90%;
  }
}

/* 桌面设备 (≥ 1024px) */
@media (min-width: 1024px) {
  #app {
    max-width: 1280px;
    padding: 0 2rem;
  }
}
